[submodule "FdF"]
	path = FdF
	url = https://github.com/nijesmik/FdF.git
[submodule "Philosophers"]
	path = Philosophers
	url = https://github.com/nijesmik/Philosophers.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/nijesmik/minishell.git
